:root {
   /* colores */
   /* paleta #1 */
   /*    --mainColor: #d4e98e;
   --bgColor: #f2e9e1;
   --secondaryColor: #1c140d;
   --thirdColor: #FBFDF3; */

   /* paleta #2 */
   /* --mainColor: #ba2339;
   --bgColor: #f2e9e1;
   --secondaryColor: #680a1d;
   --thirdColor: #FBFDF3; */

   /* paleta #3 */
   /* --secondaryColor: #3f3557;
   --bgColor: #f2e9e1;
   --mainColor: #8f3c68;
   --thirdColor: #FBFDF3; */

   /* paleta #4 */
   --secondaryColor: #1d0100;
   --bgColor: #f2e9e1;
   --mainColor: #e8b597;
   --thirdColor: #FBFDF3;

   /* paleta #5 */
   /*    --secondaryColor: #0d4041;
   --bgColor: #f2e9e1;
   --mainColor: #547980;
   --thirdColor: #FBFDF3; */

   --white: #FFF7F3;
   --black: rgb(0, 0, 0);
   --green: rgb(71, 139, 71);
   --gray: rgba(28, 20, 13, 0.20);
   --red: rgb(158, 45, 45);
   --yellow: rgb(252, 255, 56);
   --lightGreen: rgb(108, 163, 108);
   --pinkDark: #EAB6A5;
   --pinkMedium: #FBCBBB;
   --pinkLight: #FFE7DD;
   /* fuentes */
   --fontMain: 'Open Sans', sans-serif;
   --fsTitle: 30px;
   --fsSubTitle: 20px;
   --fsHeadline: 16px;
   --fsBody: 14px;
   --fsSmall: 12px;
   /* --fsTitle: 30px;
   --fsSubTitle: 20px;
   --fsHeadline: 18px;
   --fsBody: 16px;
   --fsSmall: 14px;  */
   /* medidas generales */
   --px1em: 16px;
   --px1: 10px;
   --px2: 20px;
   --px3: 30px;
   --px4: 40px;
   --px5: 50px;
   --px6: 60px;
   /* medidas de compontenes o separaciones entre componentes */
   --headerHeight: 80px;
   --containerWidth: 992px;
   --marginVerticalToComponents: 30px;
   --boxShadowLarge: 2px 2px 8px #00000083;
   --boxShadowShort: 2px 2px 4px #00000083;
   --boxShadowFromAbove: 0px 5px 5px 0px #00000083;
   --boxShwdowNormal: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
   --inputOutline: 2px solid var(--secondaryColor);
   --avatarSmall: 40px;
   --avatarMedium: 55px;
   --avatarBig: 75px;
   --iconHeading: 40px;
   --iconMedium: 25px;
   --iconNormal: 16px;
   --iconSmall: 14px;
   /* espacios */
   --paddingX: var(--px2);
   --paddingY: var(--px2);
   --borderRadius: var(--px2);
   --widthForInput_Buttons: 500px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   overflow-y: scroll;
}

#root {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


body {
   font-family: var(--fontMain);
   background-color: var(--bgColor);
   color: var(--secondaryColor);
   font-size: var(--fsBody);
   overflow-x: hidden;
}

main.container {
   /* min-height: calc(100vh - var(--headerHeight)); */
   min-height: calc(100dvh - var(--headerHeight));
   width: 100%;
   max-width: var(--containerWidth);
   margin: 0 auto;
   padding: calc(var(--headerHeight) + var(--marginVerticalToComponents)) var(--paddingX);
   overflow-x: hidden;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style-type: none;
}

button {
   outline: none;
   border: none;
   background-color: transparent;
}

input {
   border: none;
   padding: var(--fsBody);
   width: 100%;
   border-radius: var(--borderRadius);
   font-family: var(--fontMain);
   font-size: var(--fsHeadline);
   background-color: var(--white);
   color: var(--secondaryColor);
}

input[type='checkbox']:focus {
   outline: none;
}

input[type='datetime-local'] {
   appearance: none;
   min-height: var(--fsBody);
   width: 100%;
   padding: var(--fsBody);
}

input::placeholder {
   font-family: var(--fontMain);
   font-size: var(--fsBody);
   color: var(--secondaryColor);
}

.formGroup {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: var(--borderRadius);
   padding: var(--px1);
   gap: var(--px1);
   background-color: var(--mainColor);
}

.formGroup .icon {
   width: var(--px2);
   height: var(--px2);
   object-fit: cover;
}

.formGroup-label {
   font-style: oblique;
   text-align: left;
   width: 100%;
   opacity: .5;
}

.title {
   text-align: center;
   font-size: var(--fsTitle);
   font-weight: 700;
   font-size: var(--fsTitle);
}

.subtitle {
   text-align: left;
   font-weight: 700;
   font-size: var(--fsSubTitle);
   line-height: normal;
   font-style: normal;
}

.subtitle-small {

   font-size: var(--fsBody);
   font-weight: 700;
}

.inactive {
   display: none;
}

.bold {
   font-weight: 700;
}

.justify-center {
   justify-content: center;
}

.justify-start {
   justify-content: flex-start;
}

.justify-end {
   justify-content: flex-end;
}

.justify-between {
   justify-content: space-between;
}

.justify-around {
   justify-content: space-around;
}

.justify-evenly {
   justify-content: space-evenly;
}

.shadow {
   box-shadow: var(--boxShwdowNormal);
}

.hover:hover {
   opacity: .8;
   transition: opacity .1s;
   cursor: pointer;
}

.column-separation {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: var(--px1);
}

/* desktop */
@media screen and (min-width: 768px) {
   main.container {
      padding: calc(var(--headerHeight) + var(--marginVerticalToComponents)) 2px;
   }
}