.createTravel{
   display: flex;
   flex-direction: column;
   gap: var(--marginVerticalToComponents);
}

.createTravel form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--px2);
}

/* .createTravel form .formGroup{
   justify-content: space-between;
   background-color: transparent;
   padding: 0;
} */

.createTravel input:focus{
   outline: var(--inputOutline);
}

.ceckbox-inputContainer{
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: var(--px1);
}

.ceckbox-inputContainer input[type='checkbox']{
   width: var(--fsBody);
   height: var(--fsBody);
}

@media screen and (min-width: 768px) {
   .createTravel form .form-separator{
      align-items: flex-start;
   }
}