.forgottenPassword{
   display: flex;
   flex-direction: column;
   gap: var(--px3);
}

.forgottenPassword form{
   display: flex;
   flex-direction: column;
   gap: var(--px2);
}

.forgottenPassword form input:focus{
   outline: var(--inputOutline);
}