.homePage {
   display: flex;
   flex-direction: column;
   gap: var(--marginVerticalToComponents);
}



.homePage .travels-container {
   display: flex;
   flex-direction: column;
   gap: var(--px2);
}

@media screen and (min-width: 768px){
   .homePage form{
      flex-direction: row;
   }
   /* .homePage .travels-container{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
   } */
   .homePage .travels-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
}