.loginPage{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: var(--marginVerticalToComponents);
}

.loginPage header{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--px1);
}

.loginPage header p {
   font-size: var(--fsHeadline);
}

.loginPage header p span{
   font-weight: 700;
}

.loginPage header img{
   height: var(--px6);
}

.loginPage h1{
   font-weight: 700;
}

.loginPage h1 span{
   font-weight: 400;
}

.loginPage form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--px1);
}

.loginPage form .formGroup{
   padding: 0;
   position: relative;
}

.loginPage form .formGroup input[name="password"]{
   padding-right: var(--px4);
}

.passwordHide-Show_container{
   position: absolute;
   right: var(--px2);
   display: flex;
   justify-content: center;
   align-items: center;
}

.passwordHide-Show_container img{
   width: var(--px2);
   height: var(--px2);
}

.loginPage input:focus {
   outline: var(--inputOutline);
}

.loginPage-toSingUpButtonContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: var(--px1);
}

@media screen and (min-width: 768px){
   .loginPage{
      align-items: center;
   }
   .loginPage form{
      max-width: var(--widthForInput_Buttons);
      width: 100%;
   }
   .loginPage .loginPage-toSingUpButtonContainer{
      max-width: var(--widthForInput_Buttons);
      width: 100%;
   }
}