.ResetPassword{
   display: flex;
   flex-direction: column;
   gap: var(--px3);
}


.ResetPassword form{
   display: flex;
   flex-direction: column;
   gap: var(--px2);
}

.ResetPassword form .formGroup{
   padding: 0;
   position: relative;
}

.ResetPassword form .formGroup input[name="password"]{
   padding-right: var(--px4);
}

.passwordHide-Show_container{
   position: absolute;
   right: var(--px2);
   display: flex;
   justify-content: center;
   align-items: center;
}

.passwordHide-Show_container img{
   width: var(--px2);
   height: var(--px2);
}

.ResetPassword form input:focus{
   outline: var(--inputOutline);
}