.travelDetailsPage{
   display: flex;
   flex-direction: column;
   gap: var(--marginVerticalToComponents);
}

.travelDetails-ownerContainer{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: var(--px1);
}

.travelDetails-ownerContainer .mainBtn{
   width: max-content;
   margin: unset;
   padding: var(--px1);
}

.travelDetails-container{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   background-color: var(--white);
   padding: var(--px2);
   border-radius: var(--borderRadius);
   gap: var(--px2);
}

.travelDetails-travelInfo{
   display: flex;
   flex-direction: column;
   gap: var(--px1);
}

.travelDetails-container .travelDetails-travelInfo .rowItemWithIcon-container:nth-child(1), .travelDetails-container .travelDetails-travelInfo .rowItemWithIcon-container:nth-child(2){
   font-size: var(--fsHeadline);
   font-weight: 700;
   text-transform: capitalize;
}

.travelDetails-features{
   display: flex;
   flex-direction: column;
   gap: var(--px1);
}

.travelDetails-features h3{
   font-size: var(--fsBody);
}

.features-gridContainer{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-columns: auto-fill;
   align-items: flex-start;
   gap: var(--px1);
}

.feature-false{
   opacity: .6;
}

.travelDetails-driverInfo{
   display: flex;
   flex-direction: column;
   gap: var(--px1);
}

.travelDetails-driverInfo-flex{
   display: flex;
   width: 100%;
   background-color: var(--white);
   padding: var(--px2);
   border-radius: var(--borderRadius);
   gap: var(--px1);

}

.travelDetails-driverInfo_avatarContainer .avatarImage{
   width: var(--avatarMedium);
   height: var(--avatarMedium);
}

.travelDetails-driverInfo-content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.linkToMessage{
   display: flex;
  gap: var(--px1);
}





















