.mainBtn{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: var(--fsBody);
   border-radius: var(--borderRadius);
   font-size: var(--fsBody);
   width: 100%;
   margin: 0 auto;
   font-weight: 700;
   cursor: pointer;
   transition: opacity .1s;
}

.btn-primary{
   background-color: var(--mainColor);
   color: var(--secondaryColor);
}

.btn-secondary{
   background-color: var(--secondaryColor);
   color: var(--white);
}