.desktop-navMenu{
   display: none;
}

@media screen and (min-width: 768px){
   .desktop-navMenu{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      gap: var(--px2);
      color: var(--white);
   }

   .desktop-navMenu > li {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .desktop-navMenu > li .avatarImage {
      width: var(--avatarSmall);
   }
}