.floatinNotification-container {
   width: 100vw;
   height: var(--headerHeight);
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 200;
   padding: var(--px2);
   transition: 1s all;
   color: var(--white);
   text-align: center;
   font-weight: 700;
   top: 0;
   left: 0;
}

.fl-notification-warning {
   background-color: var(--yellow);
   color: var(--black);
}

.fl-notification-success {
   background-color: var(--green);
}

.fl-notification-error {
   background-color: var(--red);
}

.fl-notification-warning .notification-text {
   color: var(--black);
   font-weight: 700;
}

.fl-notification-success .notification-text {
   color: var(--white);
   font-weight: 700;
}

.fl-notification-error .notification-text {
   color: var(--white);
   font-weight: 700;
}