.footer-component{
   width: 100vw;
   background-color: var(--secondaryColor);
   color: var(--white);
   padding: var(--px2);
}

.footer-flex{
   width: 100%;
   max-width: var(--containerWidth);
   height: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--px2);
   flex-wrap: wrap;
}

.footer-textContainer p {
   display: flex;
}

.footer-textContainer p a:last-child{
   margin-left: 3px;
}

.footer-iconsContainer{
   display: flex;
   align-items: center;
   height: 100%;
   gap: var(--px1);
}

.footer-iconsContainer a{
   display: flex;
   align-items: center;
}
