.header-navMenu {
   position: absolute;
   top: var(--headerHeight);
   left: -100%;
   width: 100vw;
   height: calc(100vh - var(--headerHeight));
   background-color: var(--mainColor);
   color: var(--secondaryColor);
   z-index: 100;
   transition: transform .3s;
}

.header-navMenu nav {
   width: 100%;
   height: 100%;
   display: flex;
   max-width: 992px;
   margin: 0 auto;
}

.header-navMenu nav ul {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   width: 100%;
   height: 100%;
   gap: var(--px2);
   padding: var(--paddingX);
   font-size: var(--px3);
}

.header-navMenu nav ul li:last-child{
   display: flex;
   align-items: flex-end;
   flex-grow: 1;
}

@media screen and (min-width: 768px) {
   .header-navMenu {
      top: var(--headerHeight);
      height: max-content;
      background-color: transparent;
   }
   .header-navMenu nav ul{
      background-color: var(--mainColor);
      border-bottom-left-radius: var(--borderRadius);
      border-bottom-right-radius: var(--borderRadius);
      box-shadow: var(--boxShadowNormal);
   }
}