.notification-container{
   display: flex;
   align-items: center;
   justify-content: center;
}

.notification-warning .notification-text{
   color: var(--yellow);
}
.notification-success .notification-text{
   color: var(--green);
}
.notification-error .notification-text{
   color: var(--red);
}