.rowItemWithIcon-container {
   display: flex;
   align-items: center;
   gap: 5px;
}

.rowItemWithIcon-iconGroup{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
}