.travelCard-container{
   position: relative;
   width: 100%;
   padding: var(--px1);
   background-color: var(--mainColor);
   /* color: var(--bgColor); */
   color: var(--secondaryColor);
   border-radius: var(--borderRadius);
   box-shadow: var(--boxShadowLarge);
}

.travelCard-container .toggable-iconContainer{
   position: absolute;
   right: var(--px1);
   top: var(--px1);
}

.travelCard-container .toggable-iconContainer .toggable-iconImg{
   width: var(--px2);
}

.travelCard-header{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   overflow-x: hidden;
}

.travelCard-header_userAvatar{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.travelCard-header_userInfo{
   display: flex;
   flex-direction: column;
   
}

.travelCard-usernameText{
   padding-right: var(--px2);
}

.travelCard-titleText{
   text-overflow: ellipsis;
   font-style: oblique;
}

.deleteTravel-icon{
   height: var(--px2);
   width: var(--px2);
}

.travelCard-body{
   height: 100%;
   width: 100%;
   display: flex;
}

.travelCard-rowGroup{
   display: flex;
   align-items: center;
}

.travelCard-columnGroup{
   display: flex;
   flex-direction: column;
}

.travelCard-body_destinationContainer{
   padding-top: var(--px1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-grow: 1;
}

.travelCard-body_destinationContainer .travelCard-columnGroup h3{
   font-size: var(--px2);
}

.travelCard-body_destinationContainer .travelCard-rowGroup img{
   width: var(--px5);

}

.travelCard-to{
   padding-left: var(--px2);
}

.travelCard-body_aside{
   width: 30%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.travelCard-body_aside .travelCard-rowGroup{
   justify-content: flex-end;
   gap: 5px;
}

.travelCard-body_aside .travelCard-rowGroup img{
   width: var(--px2);
   height: var(--px2);
   object-fit: cover;
}