.travelCard-container {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: var(--px1);
   width: 100%;
   padding: var(--px2);
   background-color: var(--white);
   color: var(--secondaryColor);
   border-radius: var(--borderRadius);
   font-size: var(--fsBody);
   
}

.travelCard-container .toggable-iconContainer {
   position: absolute;
   right: var(--px1);
   top: var(--px1);
}

.travelCard-container .toggable-iconContainer .toggable-iconImg {
   width: var(--px2);
}

.travelCard-header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   overflow-x: hidden;
   gap: var(--px1);
}

.travelCard-header_userAvatar {
   display: flex;
   align-items: center;
   justify-content: center;
}

.travelCard-header_userAvatar .avatarImage {
   width: var(--avatarSmall);
   height: var(--avatarSmall);
}

.travelCard-header_userInfo {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.travelCard-usernameText {
   font-weight: 400;
   font-size: var(--fsSmall);
}

.travelCard-locations{
   display: flex;
   align-items: center;
   gap: 8px;
   font-weight: 700;
   text-transform: capitalize;
}

.travelCard-dayInfo{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: var(--fsBody);
}

.travelCard-body {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-top: var(--px1);
   gap: 5px;
}

.travelCard-footer{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: var(--px1);
}

.travelCard-container .mainBtn{
   width: max-content;
   margin: unset;
   padding: var(--px1) var(--fsBody);
}