.travelCard-container {
   position: relative;
   width: 100%;
   padding: var(--px1);
   background-color: var(--mainColor);
   /* color: var(--bgColor); */
   color: var(--secondaryColor);
   border-radius: var(--borderRadius);
   box-shadow: var(--boxShadowLarge);
}

.travelCard-container .toggable-iconContainer {
   position: absolute;
   right: var(--px1);
   top: var(--px1);
}

.travelCard-container .toggable-iconContainer .toggable-iconImg {
   width: var(--px2);
}

.travelCard-header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   overflow-x: hidden;
   gap: var(--px1);
}

.travelCard-header_userAvatar {
   display: flex;
   align-items: center;
   justify-content: center;
}

.travelCard-header_userAvatar .avatarImage {
   width: var(--avatarMedium);
   height: var(--avatarMedium);
}

.travelCard-header_userInfo {
   display: flex;
   flex-direction: column;
}

.travelCard-usernameText {
   padding-right: var(--px2);
}

.travelCard-locations{
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: var(--px2);
}

.travelCard-locations img{
   width: 15px;
   height: 15px;
   object-fit: cover;
}

.travelCard-body {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-top: var(--px1);
   gap: 5px;
   font-size: var(--px1em);
}

.travelCard-rowGroup {
   display: flex;
   align-items: center;
   gap: 5px;
}

.travelCard-rowGroup img{
   width: var(--px1em);
}

.travelCard-linkToDetails{
   color: var(--secondaryColor);
   display: flex;
   justify-content: flex-end;
}
